<head>
    <title>SteelSky</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta charset="utf-8"/>
  </head>
  <div class="header">
    <h1><a href="/"><img src="/favicon.ico" width="25px">SteelSky</a></h1>
  </div>
  <small id="tagline" class="tagline">"A minimalist static site generator."</small>
  <hr>
  <div class="nav">
    <a href="/">home</a> |
    <a href="/pageA.html">Page A</a> |
    <a href="/pageB.html">Page B</a> |
    <a href="/pageC.html">Page C</a> |
    <a href="/search.html">search</a> |
    <a href="https://github.com/matdombrock/steelsky" target="_blank">github</a> |
    <input type="text" placeholder="local search" id="nav-search" style="float:right;">
  </div>
  <hr>